{% extends 'base.html.twig' %}

{% block title %}Billetterie{% endblock %}

{% block body %}
    <h1 class="well">Ceci est la page de billetterie {{ app.request.attributes.get('_route') }}</h1>

    {% for message in app.session.flashbag.get('notice') %}
        <p>{{ message }}</p>
    {% endfor %}
    {{ form(form) }}
    <!--<input type="submit" value="Réserver">-->
{% endblock %}
