{% extends 'base.html.twig' %}

{% block title %}Page d'accueil du Musée du Louvre{% endblock %}

{% block body %}
    <div  class="row">
        <div class="pageTitle col-12">
            <h2 class="well">Bienvenue sur la page d'accueil du Musée du Louvre</h2>
        </div>
    </div>
    <div  class="row">
        <div class="homepageTxt col-12 col-lg-4">
            <h3>Le musée des musées</h3>
            <p>Ancien palais des rois, le Louvre épouse l’histoire de France depuis huit siècles. Conçu dès sa création en 1793 comme un musée universel, ses collections, qui figurent parmi les plus belles au monde, couvrent plusieurs millénaires et un territoire qui s’étend de l’Amérique aux frontières de l’Asie. Réparties en huit départements, elles contiennent des œuvres universellement admirées, comme La Joconde, la Victoire de Samothrace ou la Vénus de Milo. Avec près de 10 millions de visiteurs en 2012, le Louvre est aujourd’hui le musée le plus visité au monde.</p>
        </div>
        <div class="homepageTxt col-12 col-lg-4">
            <h3>Le Louvre, un musée universel</h3>
            <p>Universel par la richesse de ses collections, le Louvre l’est aussi par la grande diversité de son public. Sur les près de 10 millions de visiteurs qui ont été accueillis au Louvre en 2012, 69% étaient d’origine étrangère, dont 15% des Etats-Unis, 7% de Chine ou 6% du Brésil. Pour s’adapter à la diversité de son public, le Louvre s’attache à se montrer toujours plus accessible : généralisation progressive du bilinguisme voire du trilinguisme sur les cartels des 38 000 œuvres qui sont exposées ; réorganisation de la numérotation des salles ; élaboration d’un nouveau plan guide plus simple d’utilisation ; développement de l’éducation artistique. Par ailleurs, le site internet du Louvre (www.louvre.fr) propose de nombreux modules pour préparer sa visite, approfondir ses connaissances et enseigner l’histoire de l’art aux enfants.</p>
        </div>
        <div class="homepageTxt col-12 col-lg-4">
            <h3>Le Louvre dans le monde</h3>
            <p>Fidèle à sa vocation universaliste, le Louvre entretient des relations avec plus de soixante-quinze pays. Son action lui permet de renforcer les liens qui l’unissent aux pays dont sont originaires ses collections, de mieux connaître le public étranger et de partir à la rencontre de populations qui ne peuvent voyager à Paris.

                Celle-ci prend plusieurs formes : conseil scientifique, assistante technique, fouilles, prêts d’œuvres, organisation d’expositions, accueil de délégations officielles.

                Parmi les actions qui ont été engagées, on retiendra à titre d’exemples : l’ouverture, en janvier 2007, d’un nouveau chantier de fouilles à El-Muweïs, au Soudan ; le lancement, en 2009, d’un partenariat exemplaire avec le musée du Bardo en Tunisie, ayant permis la création d’un chantier-école dans le cadre de la restauration de la salle Carthage ; la signature, le 4 mai 2012, d’un protocole avec la Fondation nationale des Musées du Maroc en vue de l’organisation, au printemps 2014 au Louvre, d’une exposition sur le Maroc médiéval.

                Par ailleurs, de 2006 à 2010, le Louvre a participé à l’organisation de plus de 40 expositions qui ont été présentées dans 18 pays et qui ont attiré près de 4 millions de visiteurs. En 2011 et en 2012, 24 expositions ont été organisées grâce à son concours.</p>
        </div>
    </div>
{% endblock %}

