{% extends 'base.html.twig' %}

{% block title %}Infos pratiques{% endblock %}

{% block body %}
    <h1 class="well">Ceci est la page d'infos et de contact</h1>
    <h1 class="well">Ceci est la page d'infos et de contact</h1>
    <h1 class="well">Ceci est la page d'infos et de contact</h1>
    <h1 class="well">Ceci est la page d'infos et de contact</h1>
    <h1 class="well">Ceci est la page d'infos et de contact</h1>
    <h1 class="well">Ceci est la page d'infos et de contact</h1>
    <h1 class="well">Ceci est la page d'infos et de contact</h1>
    <h1 class="well">Ceci est la page d'infos et de contact</h1>
    <h1 class="well">Ceci est la page d'infos et de contact</h1>
    <h1 class="well">Ceci est la page d'infos et de contact</h1>
    <h1 class="well">Ceci est la page d'infos et de contact</h1>
    <h1 class="well">Ceci est la page d'infos et de contact</h1>
{% endblock %}