@import url('https://fonts.googleapis.com/css?family=Ubuntu');

body {
    font-family: Ubuntu;
}

header {
    background-image: url("../images/header-background.jpg");
    background-size: cover/*100% 100%*/;
    color: white;
}

header h1 {
    font-family: Ubuntu;
    margin-left: 10px;
    /*margin-top: 0px;*/
    /*margin-bottom: 0px;*/
    /*padding-top: 20px;*/
    /*padding-bottom: 10px;*/
}

#pageContainer {
    padding: 0 15px 0 15px;
    margin-top: 8em;
    margin-bottom: 3em;
}

.pageTitle h2 {
    font-family: Ubuntu;
    font-size: 2em;
}

/**************************/
/*        TICKETS         */
/**************************/
.ticketSolo {
    padding: 1em;
}

.ticketSolo h3 {
    font-size: 1em;
    text-align: center;
}

.birthdateInline {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}

/**************************/
/*    PREPARE TICKETS     */
/**************************/
.prepareTickets {
    margin-bottom: 1em;
}

.prepareTicket {
    padding: 15px;
    height: 100%;
}

.bold {
    font-weight: bold;
    color: #5e5e5e;
}

/**************************/
/* HOMEPAGE & INFOS PRAT  */
/**************************/
.homepageTxt h3, #infosPratiquesTxt h3 {
    font-size: 1.5em;
}

.homepageTxt p {
    text-align: justify;
}

/**************************/
/* datepicker (visitDate) */
/**************************/
.datepicker {
    z-index: 2000!important;
}

/**************************/
/*     MEDIA QUERIES      */
/**************************/
@media screen and (max-width: 605px) {
    #pageContainer {
        margin-top: 7em;
    }

    header h1 {
        font-size: 5vw;
    }

    .pageTitle h2 {
        font-size: 4.5vw;
    }
}

@media screen and (max-width: 575px) {
    #add_ticket {
        margin-top: 1em;
    }
}
