@import url('https://fonts.googleapis.com/css?family=Ubuntu');

header {
    background-image: url("../images/header-background.jpg");
    background-size: cover/*100% 100%*/;
    color: white;
}

header h1 {
    font-family: Ubuntu;
    margin-left: 10px;
    /*margin-top: 0px;*/
    /*margin-bottom: 0px;*/
    /*padding-top: 20px;*/
    /*padding-bottom: 10px;*/
}


#pageContainer {
    margin-top: 10em;
    margin-bottom: 3em;
}

.ticketSolo {
    padding: 1em;
}

.ticketSolo h3 {
    font-size: 1em;
    text-align: center;
}


/* datepicker (visitDate) */
.datepicker {
    z-index: 2000!important;
}


@media (max-width: 540px) {
    header h1 {
        font-size: 5vw;
    }
}
